.mainBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 8px;
}
.left{
    width: 250px;
    padding: 0px 10px;
}
.icon{
    padding: 0px 10px; 
}
.mainBox:hover{
    background-color: #F2F2F2;
}
